name: Monorepo CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  rich_i18n:
    uses: ./.github/workflows/dart_package.yaml
    with:
      working_directory: .
      min_coverage: 100
      package_name: rich_i18n
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
